<h1>Lists</h1>

<table class="table table-striped">
    <% lists.each do |list| %>
        <tr>
            <td><%= link_to list.name, list %></td>
            <td>
                <%= link_to [list], id: "delete_list_#{list.id}", title: 'Delete', data: { toggle: 'tooltip', confirm: "Are you sure you want to delete this list?" }, class:'btn btn-mini btn-danger', method: :delete do %>
                    <i class="icon-remove icon-white"></i>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>
