<table class="table table-striped">
    <tr><th colspan="2"><h1>Lists</h1></th></tr>
    <% lists.each do |list| %>
        <tr><td><%= link_to list.name, list %> </td><td> <%= link_to 'Delete', [list], method: :delete %></td></tr>
    <% end %>
</table>
