<h1><%= @list.name %></h1>


<% if @list.tasks.empty?  %>
    <%= @list.name %> does not have any tasks
<% else %>
    <ul>
    <% @list.tasks.each do |task| %>
        <li><%= task.description %></li>
    <% end %>
    </ul>
<% end %>
