<div class="banner">
    <h1>Edit task</h1>
</div>
<%= simple_form_for @task, url: [@list, @task], html:{class:'form-horizontal'} do |f| %>
    <%= f.input :description,required: true  %>
    <%= f.input :status, include_blank: false %>
    <div class="form-actions">
        <%= f.button :submit, 'Edit a Task', id: 'task_submit', class:'btn' %>
    </div>

<% end %>