<div class="jumbotron">
    <h1>Add a new task</h1>
</div>

<%= simple_form_for @task, url: [@list, @task] do |f| %>
    <%= f.input :description, required: true %>

    <%= f.button :submit, 'Add new Task', id: 'task_submit', class:'btn btn-default' %>

<% end %>
