<div class="banner">
    <h1>Add a new task to <%= list.name %></h1>
</div>

<%= simple_form_for @task, url: [@list, @task], html:{class:'form-horizontal'} do |f| %>
    <%= f.input :description, required: true %>
    <div class="form-actions">
    <%= f.button :submit, 'Add new a task', id: 'task_submit', class:'btn' %>
    </div>
<% end %>
