<div class="banner">
    <h1>Add a new task to <%= list.name %></h1>
</div>
<%= simple_form_for @task, url: [@list, @task], wrapper: :bootstrap3_horizontal, defaults: {right_column_html: {class: "col-lg-3 col-md-3"},
                                                                                            label_html: {class: "col-lg-2 col-md-2"} }, html: {class: "form-horizontal", role: "form"} do |f| %>
    <%= f.input :description, required: true %>
    <div class="col-md-2 col-md-offset-2">
        <%= f.button :submit, 'Add new a task', id: 'task_submit', class:'btn btn-primary' %>
    </div>
<% end %>
